h1{
    color: yellow;
    text-align: center;
    font-style: oblique;
    font-family: inherit;
}
h2{
    color: rgb(189, 12, 21);
    text-align: left;
    font-style: italic;
    font-family: fantasy;
}
h3{
    color:red;
    font-style: italic;
    font-family: fantasy
}